
// General
@grey: #5F5F5F;
@med-grey: lighten(@grey, 10%);
@light-grey: #F4F4F4;

@med-blue: #618EA9;
@light-blue: #B4D3E5;

@orange: #F3622A;

body {
  background-color: #F4F4F4;
}

// Header

.header{
  width: 100%;
  padding: 10px 40px;
  border-bottom: solid 1px #E8E8E8;
  margin-bottom: 40px;

  h1 {
    color: #454545;
    font-family: "cronos-pro-subhead";
    font-weight: 600;
    font-size: 2em;

    padding: 0px;
    margin: 0px;
  }

  h2 {
    color: @med-blue;
    font-family: "Arvo";

    font-size: 1.25em;

    padding: 5px;
    margin: 0px;
  }
}

// Compose

.post-time {
  margin: 5px 0px;
  padding: 0px;

  color: @grey;

  font-family: "Arvo";
  font-size: 0.75em;
}

.post {
  margin-bottom: 10px;
  display: inline-block;
  // border-top: 2px solid @light-blue;
  border-top: 2px solid #B7D8E4;
  width: 100%;
  font-family: "Arvo";
  
  .post-content {
	  background-color: white;
		padding: 20px;
    margin: 0px;
    font-size: 1em;
    line-height: 2em;
    color: @grey;
    border: 1px solid #EFEFEF;
  }
  
  .post-footer {
	  float: right;

    font-size: .8em;

    padding: 6px;
    color: @med-grey;
  }
  
}


.compose {
  margin-bottom: 40px;
  display: inline-block;
  // border-top: 4px solid @orange;
  width: 100%;
  font-family: "Arvo";

  textarea {
    padding: 20px;
    margin: 0px;

    font-size: 1.25em;

    line-height: 2em;

    color: @grey;

    border-radius: 0px;
    box-shadow: none;
    max-width: 100%;
  }

  textarea:focus {
    outline:none;
    box-shadow: none;
  }

  .form-group {
    margin: 0px;
  }

  button {
    background-color: #B7D8E4;
    color: white;

    margin: 10px 0;
    padding: 10px 20px;

    display: inline-block;

    border-radius: 0px;
    border: none;
  }

  button:hover{
    background-color: black;
    color: white;
    box-shadow: none;
  }
}


@input-border-focus:             #4E05FF;
