<template name="logo">
  <a href='/' id='logo_link'>
    <pre class="title">
      <!-- <div class="container"> -->
        $$\                                                          $$\           $$$$$$$$\            $$\   $$\       
        $$ |                                                         $$ |          \__$$  __|           $$ |  $$ |      
        $$ |        $$$$$$\     $$$$$$$\   $$\   $$\    $$$$$$$\   $$$$$$\            $$ |   $$$$$$\    $$ |  $$ |  $$\ 
        $$ |       $$  __$$\   $$  _____|  $$ |  $$ |  $$  _____|  \_$$  _|           $$ |   \____$$\   $$ |  $$ | $$  |
        $$ |       $$ /  $$ |  $$ /        $$ |  $$ |  \$$$$$$\      $$ |             $$ |   $$$$$$$ |  $$ |  $$$$$$  / 
        $$ |       $$ |  $$ |  $$ |        $$ |  $$ |   \____$$\     $$ |$$\          $$ |  $$  __$$ |  $$ |  $$  _$$&lt;  
        $$$$$$$$\  \$$$$$$  |  \$$$$$$$\   \$$$$$$  |  $$$$$$$  |    \$$$$  |         $$ |  \$$$$$$$ |  $$ |  $$ | \$$\ 
        \________|  \______/    \_______|   \______/   \_______/      \____/          \__|   \_______|  \__|  \__|  \__|  

      <!-- </div> -->
      
      <!-- <div class="container">
 _                          _     _______    _ _                     
| |                        | |   |__   __|  | | |                    
| |     ___   ___ _   _ ___| |_     | | __ _| | | __                 
| |    / _ \ / __| | | / __| __|    | |/ _` | | |/ /                 
| |___| (_) | (__| |_| \__ \ |_     | | (_| | |   &lt; 
|______\___/ \___|\__,_|___/\__|    |_|\__,_|_|_|\_\                 
      </div> -->
    </pre>
  </a>
</template>
